---
const imageData = Astro.props;
---

<img class="small-image" src={imageData.link} alt={imageData.alt} />
<div class="big-image-container">
    <img class="big-image" src={imageData.link} alt={imageData.alt} />
</div>

<style>
    .small-image {
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .big-image-container {
        display: none;
    }

    .big-image-container.active {
        display: flex;
        position: fixed;
        z-index: 20;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        overflow: auto;

        background-color: rgba(0, 0, 0, 0.9);
        /* TODO
        Blur instead of bg+opacity?
        backdrop-filter: blur(12px); */
    }

    .big-image {
        margin: auto;
        display: block;
        width: 80%;
        animation-name: zoom-in;
        animation-duration: 0.3s;
    }

    .zoom-out {
        animation-name: zoom-out;
        animation-duration: 0.3s;
    }

    @keyframes zoom-in {
        from {
            transform: scale(0.1);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes zoom-out {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0.1);
        }
    }

    /* 100% Image Width on Smaller Screens */
    @media screen and (max-width: 700px) {
        .big-image {
            width: 100%;
        }
    }
</style>

<script>
    const bigImgContainer = document.getElementsByClassName("big-image-container");
    const bigImg = document.getElementsByClassName("big-image");
    const smallImg = document.getElementsByClassName("small-image");

    for (let i = 0; i < smallImg.length; i++) {
        smallImg[i].closest("div").addEventListener("click", function (){
            bigImgContainer[i].classList.add("active");
        });

        bigImgContainer[i].addEventListener("click",function () {
            closeAnimation();
        });

        function closeAnimation() {
            bigImg[i].classList.add("zoom-out");
            setTimeout(function () {
                bigImgContainer[i].classList.remove("active");
                bigImg[i].classList.remove("zoom-out");
            }, 300);
        }
    }
</script>
