---

---

<div class="jump-animation-up">
    <slot/>
</div>


<style>
    .jump-animation-up {
        animation-name: jump-up;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .jump-animation-down {
        animation-name: jump-down;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes jump-up {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(-200%);
        }
        100% {
            transform: translateY(0%);
        }
        }

    @keyframes jump-down {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(200%);
        }
        100% {
            transform: translateY(0%);
        }
        }
</style>