---
const { delay } = Astro.props;
---

<div class="text-animation-container">
    <slot />
    <div class="text-animation"></div>
</div>

<style define:vars={{ delay }}>
    .text-animation-container {
        position: relative;
        height: 100%;
        margin-bottom: 2rem;
    }

    .text-animation {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: var(--bg-color-light-mode);
        animation-name: show-text;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: var(--delay);
    }

    html.dark .text-animation {
        background-color: var(--bg-color-dark-mode);
    }

    @keyframes show-text {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>
