---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    cursor: pointer;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out;
  }
  
  .hamburger.active {
    transform: rotate(45deg);
  }

  .line {
    display: block;
    width: 30px;
    height: 3px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--text-light-mode);
  }

  :global(.dark) .line {
    background-color: var(--text-dark-mode);
  }

  .hamburger.active .line {
    width: 35px;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(12px);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-10px) rotate(90deg);
  }

  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>
