---
import Navigation from "./Navigation.astro";
---

<div id="mobile-nav-menu" class="mobile-menu">
    <Navigation />
</div>

<style>
    .mobile-menu {
        display: none;
        position: fixed;
        top: 4rem;
        z-index: 10;
        background-color: rgb(226, 226, 226);
        width: 100%;
    }

    html.dark .mobile-menu {
        background-color: #3a385b;
    }

    .expanded {
        display: block;
    }
</style>