---
---
<ul class="nav-links">
    <li><a class="menu-button" href="#about">About</a></li>
    <li><a class="menu-button" href="#work">Work</a></li>
    <li><a class="menu-button" href="#education">Education</a></li>
    <li><a class="menu-button" href="#projects">Projtcts</a></li>
    <li><a class="menu-button" href="#contact">Contact</a></li>
</ul>