---

---

<div class="logo-container">
    <a class="logo" aria-label="site logo" href="/">
        <svg
            class="logo-full"
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="535.000000pt"
            height="81.000000pt"
            viewBox="0 0 535.000000 81.000000"
            preserveAspectRatio="xMidYMid meet"
        >
            <g
                transform="translate(0.000000,81.000000) scale(0.100000,-0.100000)"
                stroke="none"
            >
                <path
                    d="M1795 767 c-3 -7 -4 -143 -3 -302 l3 -290 193 -3 192 -2 0 -50 0 -49
                    -77 -3 c-50 -2 -78 -7 -81 -15 -3 -10 37 -13 178 -13 141 0 181 3 178 13 -3 8
                    -32 13 -87 15 l-82 3 3 47 3 47 193 3 192 2 0 305 0 305 -400 0 c-313 0 -402
                    -3 -405 -13z m775 -292 l0 -275 -375 0 -375 0 0 275 0 275 375 0 375 0 0 -275z"
                >
                </path>
                <path
                    d="M2211 583 c-47 -178 -59 -239 -51 -247 5 -5 12 -7 16 -4 10 10 73
                    271 68 280 -11 18 -24 6 -33 -29z"
                ></path>
                <path
                    d="M2027 522 c-21 -21 -37 -42 -37 -48 0 -14 63 -74 78 -74 20 0 13 25
                    -13 50 l-25 24 25 26 c14 14 25 31 25 37 0 26 -19 20 -53 -15z"
                ></path>
                <path
                    d="M2315 550 c-3 -5 8 -24 24 -42 l30 -33 -31 -32 c-27 -28 -29 -33 -14
                    -39 18 -7 86 49 86 72 0 10 -74 84 -84 84 -3 0 -7 -4 -11 -10z"
                ></path>
                <path
                    d="M138 553 c21 -4 22 -7 22 -138 0 -131 -1 -134 -22 -138 -13 -2 9 -5
                    47 -5 52 -1 64 2 47 9 -21 8 -23 14 -20 61 l3 53 48 8 c82 13 119 52 102 106
                    -12 37 -56 51 -157 50 -51 -1 -83 -4 -70 -6z m152 -13 c10 -6 15 -25 15 -55 0
                    -53 -22 -78 -65 -73 -23 3 -25 8 -28 57 -2 29 -1 60 2 67 6 16 54 18 76 4z"
                ></path>
                <path
                    d="M455 420 c -27 -75 -56 -140 -65 -145 c -12 -7 -8 -9 19 -10 c 22 0 30 3 22 8 c -10 7 -9 16 3 45 c 14 35 18 37 59 37 c 40 0 45 -3 55 -31 c 15 -42 14 -47 -6 -52 c -10 -3 11 -5 47 -5 c 36 0 58 2 49 5 c -10 2 -34 54 -66 140 c -27 76 -54 138 -59 140 c -5 1 -31 -58 -58 -132 z m 68 -32 c 7 -21 4 -23 -28 -23 c -41 0 -45 11 -20 68 l 16 37 l 13 -30 c 7 -16 16 -40 19 -52 z"
                ></path>
                <path
                    d="M640 551 c0 -5 7 -8 16 -7 12 1 29 -34 66 -134 27 -74 53 -139 57
                    -143 9 -9 30 41 77 187 20 62 35 91 49 97 14 5 8 8 -25 7 -25 0 -37 -2 -27 -5
                    9 -2 17 -8 17 -11 0 -14 -62 -193 -66 -189 -2 2 -19 45 -38 96 l-34 92 21 9
                    c16 6 3 9 -45 9 -38 1 -68 -3 -68 -8z"
                ></path>
                <path
                    d="M1008 553 c21 -4 22 -7 22 -138 0 -131 -1 -134 -22 -138 -13 -2 32
                    -5 100 -6 l122 -1 0 48 0 47 -18 -30 c-28 -45 -47 -57 -89 -53 l-38 3 4 60 c2
                    33 4 61 6 63 7 8 38 -14 50 -37 14 -25 14 -23 14 39 l0 65 -20 -27 c-35 -47
                    -49 -37 -49 37 l0 65 34 0 c26 0 41 -8 65 -35 l31 -36 0 41 0 40 -117 -1 c-65
                    -1 -108 -4 -95 -6z"
                ></path>
                <path
                    d="M1328 553 c21 -4 22 -7 22 -138 0 -131 -1 -134 -22 -138 -13 -2 29
                    -5 93 -6 113 -1 117 0 123 22 9 33 7 67 -3 67 -5 0 -12 -8 -15 -18 -12 -36
                    -52 -64 -87 -60 l-34 3 0 130 0 129 25 7 c15 4 -5 7 -50 7 -41 -1 -65 -3 -52
                    -5z"
                ></path>
                <path
                    d="M3795 550 c-27 -4 -40 -8 -27 -8 22 -2 22 -4 22 -132 0 -126 -1 -131
                    -22 -140 -17 -6 -6 -9 45 -9 37 -1 67 3 67 8 0 5 -8 8 -17 7 -16 -1 -18 12
                    -21 132 -2 128 -2 132 18 132 12 0 18 5 15 10 -3 6 -12 9 -18 8 -7 0 -34 -4
                    -62 -8z"
                ></path>
                <path
                    d="M4690 522 c-64 -63 -66 -153 -7 -216 63 -67 157 -53 204 30 57 99 -6
                    224 -114 224 -39 0 -51 -5 -83 -38z m136 7 c15 -17 19 -36 18 -112 0 -101 -11
                    -133 -49 -143 -62 -16 -95 33 -95 140 0 67 12 115 33 128 24 15 74 8 93 -13z"
                ></path>
                <path
                    d="M2868 540 c21 -9 22 -14 22 -135 0 -121 -1 -126 -22 -135 -17 -6 -5
                    -9 47 -9 50 0 64 3 48 9 -21 9 -22 15 -22 139 l0 131 32 0 c42 0 57 -15 57
                    -60 0 -41 -16 -66 -45 -73 -11 -3 -5 -5 16 -6 77 -2 119 84 63 128 -23 18 -40
                    21 -123 20 -68 0 -89 -3 -73 -9z"
                ></path>
                <path
                    d="M3176 415 c-27 -75 -56 -140 -65 -145 -12 -7 -8 -9 19 -10 22 0 30 3
                    22 8 -10 7 -9 16 3 45 14 35 18 37 59 37 40 0 45 -3 55 -31 15 -42 14 -47 -6
                    -52 -10 -3 11 -5 47 -5 36 0 58 2 49 5 -10 2 -34 54 -66 140 -27 76 -54 138
                    -59 140 -5 1 -31 -58 -58 -132z m68 -32 c7 -21 4 -23 -28 -23 -41 0 -45 11
                    -20 68 l16 37 13 -30 c7 -16 16 -40 19 -52z"
                ></path>
                <path
                    d="M3463 543 c15 -4 17 -19 17 -138 0 -131 -1 -134 -22 -138 -13 -3 31
                    -4 97 -3 l120 1 2 50 c2 43 1 47 -10 31 -33 -52 -53 -68 -87 -69 l-35 -2 -3
                    132 c-3 130 -2 132 20 136 13 2 -8 4 -47 4 -38 1 -62 -1 -52 -4z"
                ></path>
                <path
                    d="M4034 414 c-35 -98 -55 -139 -69 -144 -15 -7 -11 -9 20 -9 26 -1 35
                    2 26 8 -11 7 -11 15 -1 45 11 35 13 36 60 36 42 0 49 -3 54 -24 3 -13 9 -31
                    12 -39 3 -10 -1 -17 -13 -20 -10 -3 11 -5 47 -5 43 -1 58 2 45 8 -14 5 -34 46
                    -69 144 -27 75 -52 136 -56 136 -4 0 -29 -61 -56 -136z m59 -9 l16 -45 -40 0
                    c-21 0 -39 1 -39 3 0 18 34 96 40 92 4 -3 15 -25 23 -50z"
                ></path>
                <path
                    d="M4318 543 c21 -4 22 -8 22 -134 0 -125 -1 -130 -22 -139 -17 -6 -5
                    -9 47 -9 52 0 64 3 48 9 -20 8 -23 16 -23 70 0 33 4 60 8 60 8 0 102 -115 102
                    -124 0 -3 -8 -7 -17 -9 -10 -3 12 -5 50 -6 39 -1 67 3 67 9 0 6 -8 10 -17 10
                    -10 1 -45 36 -80 82 l-63 81 41 48 c25 30 50 49 67 52 15 2 2 4 -28 4 -30 1
                    -47 -1 -37 -4 23 -6 22 -8 -20 -54 -21 -23 -42 -47 -46 -55 -17 -29 -27 -12
                    -27 45 0 54 2 60 23 64 12 2 -9 4 -48 4 -38 0 -60 -2 -47 -4z"
                ></path>
                <path
                    d="M4998 543 c21 -4 22 -8 22 -119 0 -109 1 -116 25 -139 31 -32 120
                    -36 156 -6 21 17 23 28 27 139 4 101 7 122 21 125 9 3 -6 5 -34 4 -27 0 -40
                    -2 -27 -4 21 -4 22 -8 22 -123 0 -111 -1 -120 -22 -134 -27 -19 -68 -21 -91
                    -3 -13 10 -16 32 -17 117 -2 143 -2 138 18 143 9 3 -14 5 -53 4 -38 0 -60 -2
                    -47 -4z"
                ></path>
            </g>
        </svg>

        <svg
            class="logo-mobile"
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="40pt"
            height="40pt"
            viewBox="0 0 40 40"
            preserveAspectRatio="xMidYMid meet"
        >
            <g transform="translate(0, 40) scale(0.05,-0.05)" stroke="none">
                <path
                    d="M 0 767 c-3 -7 -4 -143 -3 -302 l3 -290 193 -3 192 -2 0 -50 0 -49
                    -77 -3 c-50 -2 -78 -7 -81 -15 -3 -10 37 -13 178 -13 141 0 181 3 178 13 -3 8
                    -32 13 -87 15 l-82 3 3 47 3 47 193 3 192 2 0 305 0 305 -400 0 c-313 0 -402
                    -3 -405 -13z m775 -292 l0 -275 -375 0 -375 0 0 275 0 275 375 0 375 0 0 -275z"
                >
                </path>
                <path
                    d="M 416 583 c-47 -178 -59 -239 -51 -247 5 -5 12 -7 16 -4 10 10 73
                    271 68 280 -11 18 -24 6 -33 -29z"
                ></path>
                <path
                    d="M 232 522 c-21 -21 -37 -42 -37 -48 0 -14 63 -74 78 -74 20 0 13 25
                    -13 50 l-25 24 25 26 c14 14 25 31 25 37 0 26 -19 20 -53 -15z"
                ></path>
                <path
                    d="M 520 550 c-3 -5 8 -24 24 -42 l30 -33 -31 -32 c-27 -28 -29 -33 -14
                    -39 18 -7 86 49 86 72 0 10 -74 84 -84 84 -3 0 -7 -4 -11 -10z"
                ></path>
            </g>
        </svg>
    </a>
</div>

<style>
    .logo-container {
        display: flex;
        flex: 1 1 0;
    }

    .logo {
        color: var(--light-color);
    }

    :global(.dark) .logo {
        fill: var(--dark-color);
    }

    svg {
        max-height: 40px;
        width: auto;
    }

    .logo-full {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    @media screen and (min-width: 900px) {
        .logo-full {
            display: block;
        }

        .logo-mobile {
            display: none;
        }
    }
</style>
