---
import Hamburger from '../menu/Hamburger.astro';
import Navigation from './NewNavigation.astro';
import ThemeIcon from '../menu/ThemeIcon.astro';
---

<header>
    <a class='logo' href='/'>Site Logo</a>
    <nav>
        <Navigation />
        <Hamburger />
    </nav>
    <ThemeIcon />
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;
        background-color: var(--light-bg-element);
        box-shadow: var(--shadow-menu);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    :global(.dark) header {
        background-color: var(--dark-bg-element);
    }

    .logo {
        flex-shrink: 0;
        color: var(--light-color);
    }

    :global(.dark) .logo {
        color: var(--dark-color);
    }
</style>
