@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

main {
  font-size: 1.25rem;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 0;
  margin-top: 2rem;
}

h3 {
  margin: 0;
  font-weight: 700;
  line-height: 1.75rem;
  font-size: 1.5rem;
}

p {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 4rem;
}

#about {
  padding-top: 4rem;
}

.resume {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  background-color: rgb(99, 102, 241);
  color: white;
  cursor: pointer;
}

.resume:hover {
  background-color: rgb(125, 127, 255);
}

/* nav styles */
nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: rgb(226, 226, 226);
}

.desktop-menu {
  display: none;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links a {
  display: block;
  text-align: center;
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  color: black;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #000000;
  color: white;
}

.nav-links a.active {
  background-color: #000000;
  color: white;
}

.hamburger {
  cursor: pointer;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 4rem;
  z-index: 10;
  background-color: rgb(226, 226, 226);
  /*Smaill menu*/
  width: 10rem;
  right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  /*Wide menu*/
  /* width: 100%; */
}

.expanded {
  display: unset;
}

/* Work/education section style */
.container {
  display: grid;
  margin-bottom: 4rem;
}

.duration {
  line-height: 2;
  text-align: right;
  text-transform: uppercase;
  padding-left: 3rem;
  color: rgb(107 114 128);
}

.description {
  grid-column: span 2;
  position: relative;
  padding-left: 3rem;
}

.city {
  line-height: 1.25rem;
  font-size: 1rem;
  margin: 0;
  color:  rgb(107 114 128);
}

.city a {
  color: rgb(99, 102, 241);
  text-decoration: none;
}


/* Dark/Light mode */
html.dark {
  background-color: #100d3a;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark nav, 
.dark .mobile-menu {
  background-color: #3a385b;
}

.dark .skill-container {
  color: black;
}

/* Media mobile-first */
@media screen and (min-width: 636px) {
  .desktop-menu {
    display: block;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; 
    background: none;
  }
  
  .hamburger {
    display: none;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
  }
  
  .duration {
    padding-left: 0;
  }
}
