---
import Skills from "../Skills.astro";
import TextAnimation from "../animations/TextAnimation.astro";
---

<section id="about">
    <h1>About me</h1>

    <TextAnimation delay="0.5s">
        <p>
            System administrator/Technical Support Engineer with 7+ years
            experience. Proven problem solving and analytical skills.
            Responsible and careful. Seeking a Front-end developer position to
            grow my career as a software engineer professional.
        </p>
    </TextAnimation>

    <h2>Technologies and Tools</h2>
    <Skills />
</section>