---
import Skills from "../Skills.astro";
import TextAnimation from "../animations/TextAnimation.astro";
---

<section id="about">
    <h1>About me</h1>

    <TextAnimation delay="0s">
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, itaque! Consectetur dicta voluptate inventore repellat commodi labore ad libero doloremque neque nisi dolores molestias quam excepturi blanditiis enim quaerat magnam earum officiis alias, maxime deleniti sed totam consequuntur? Labore, optio quo magni sequi omnis suscipit est blanditiis vero dolor fuga.
        </p>
    </TextAnimation>

    <TextAnimation delay="1s">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officiis nisi quae, ipsum beatae, eos similique est eaque quo nemo distinctio? Similique illum blanditiis voluptatum accusantium aut aliquid laboriosam natus!</p>
    </TextAnimation>

    <h2>Technologies and Tools</h2>
    <Skills/>

</section>