---
import Skills from "../Skills.astro";
import TextAnimation from "../animations/TextAnimation.astro";
import IDLink from "../../components/IDLink.astro";
---

<IDLink id="about"/>
<section class="about">
    <h1>About me</h1>

    <TextAnimation>
        <p>
            System administrator/Technical Support Engineer with 7+ years
            experience. Proven problem solving and analytical skills.
            Responsible and careful. Seeking a Front-end developer position to
            grow my career as a software engineer professional.
        </p>
    </TextAnimation>

    <TextAnimation>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quia molestias facilis vero nobis repudiandae a iusto aperiam. Itaque quos soluta et. Dolor asperiores ipsum consequatur non id eaque neque.
        </p>
    </TextAnimation>

    <TextAnimation>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, tempora, quam, a blanditiis placeat nulla nam iusto tempore temporibus ullam molestiae harum error aperiam consectetur et repudiandae id veritatis tenetur aut. Id iure modi minima reprehenderit vitae? Facere delectus odit doloremque labore repellat iusto consequatur nisi et, suscipit earum quos.
        </p>
    </TextAnimation>

    <h2>Technologies and Tools</h2>
    <Skills />
</section>