---
import Social from "../Social.astro";
import EmailForm from "../EmailForm.astro";
---

<section id="contact">
    <h1>Contact</h1>

    <div>
        <h2>Contact with me</h2>
        <p>
            If you want to know more about me or my work, send me a message. 
            <br>
            I'd love to hear from you.
        </p>
    </div>

    <div class="contact-container">

        <EmailForm/>
        
        <div class="contact-data">
            <h2>Email</h2>
            <a href="#contact">email</a>
            <h2>Address</h2>
            <a href="#contact">Poland</a>
            <h2>Social</h2>
            <Social />
        </div>
    </div>
    
</section>

<style>

    #contact {
        position: relative;
        padding-bottom: 0;
    }

    #contact h2{
        text-align: left;
    }

    div {
       width: 100%; 
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;
    }

    .contact-data a {
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-600);
    }

    @media screen and (min-width: 700px) {
        .contact-container {
            flex-direction: row;
        }

        .contact-data {
            align-items: flex-end;
        }
    }
</style>