---
import Social from "../Social.astro";
import EmailForm from "../EmailForm.astro";
---

<section id="contact">
    <h1>Contact</h1>

    <div class="contact-message">
        <h2>Contact with me</h2>
        <p>
            If you want to know more about me or my work, send me a message.
            <br />
             I'd love to hear from you.
        </p>
    </div>

    <div class="contact-container">
        <EmailForm />

        <div class="contact-info">
            <div class="info-container">
                <h2>Email</h2>
                <a href="mailto:contact@yourdomain.com">pavel.paliakou0010@gmail.com</a>
            </div>
            <div class="info-container">
                <h2>Address</h2>
                <a href="#contact">Poland</a>
            </div>
            <div class="info-container">
                <h2>Social</h2>
                <Social />
            </div>
        </div>
    </div>
</section>

<style>
    #contact {
        padding-bottom: 0;
    }

    #contact h2 {
        text-align: left;
    }

    .contact-message {
        width: 100%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: unset;
        width: auto;
    }

    .info-container a {
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-600);
    }

    @media screen and (min-width: 700px) {
        .contact-container {
            flex-direction: row;
        }

        .contact-info {
            align-items: flex-end;
            gap: 3rem;
        }

        .info-container {
            align-items: flex-end;
        }
    }
</style>
