---
import IDLink from "../../components/IDLink.astro";
import WaveCoverSeparator from "../../components/WaveCoverSeparator.astro";
import ProjectCard from "../ProjectCard.astro";
---

<WaveCoverSeparator>
    <IDLink id="projects" />
    <section class="projects">
        <h1>Projects</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <ProjectCard />
    </section>
</WaveCoverSeparator>

<style>
    .projects {
        height: 100vh;
    }
</style>
