---
---

<!-- <section id="projects"> -->
<section>
    <h1>Projects</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
</section>

<style>
    section {
        height: 100vh;
    }
</style>