---
import CertificateCard from "../CertificateCard.astro";

---

<section id="projects">
    <h1>Projects</h1>
    <CertificateCard/>

    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
</section>