---
import ParticalBG from "../ParticalBG.astro";
import Resume from "../Resume.astro";
---

<ParticalBG />
<div class="section-container">
    <section id="welcome">
        <div class="welcome-container">
            <div class="welcome-description">
                <p>Hello, I'm Pavel</p>
                <div class="job-title">
                    <p>Front-end developer</p>
                </div>
                <Resume />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsam officia facilis aut?
                    </p>
            </div>
            <div class="welcome-img">
                <img src="/undraw_hello_re_3evm.svg" alt="hello" />
            </div>
        </div>
    </section>
</div>

<style>
    .welcome-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
        height: calc(100vh - var(--nav-height));
    }

    .welcome-description {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: 1 1 0;
    }

    .job-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .welcome-img {
        display: none;
        width: 100%;
        flex: 1 1 0;
    }

    img {
        max-width: 40rem;
        height: auto;
        width: 100%;
    }

    @media screen and (min-width: 700px) {
        .welcome-img {
            display: flex;
        }
    }
</style>
