---
import InfoCard from "../InformationCard.astro";
---

<section id="work">
    <h1>Work Expirience</h1>
    <InfoCard 
        dates = "July 2023 - current";
        positionAndCompany = "Chef @ MacDonalds(Fulltime)";
        place = "City | ";
        link = "https://mackdonalds.com";
        responsibilities = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.";
    />
    <InfoCard 
        dates = "December 2020 - May 2023";
        positionAndCompany = "Manager @ BurgerKing(Fulltime)";
        place = "City | ";
        link = "https://burgerking.com";
        responsibilities = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.";
    />
    <InfoCard 
        dates = "September 2015 - October 2020";
        positionAndCompany = "Senior principal cleaner @ KFC(Fulltime)";
        place = "City | ";
        link = "https://kfc.com";
        responsibilities = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.";
    />
</section>