---
import Greeting from '../components/Greeting';
import WorkSection from '../components/WorkSection.astro';
import EducationSection from '../components/EducationSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/AboutSection.astro';
import ContactSection from '../components/ContactSection.astro';

const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>

	<AboutSection />

	<WorkSection />

	<EducationSection />

	<section id="projects">
		<h2>Projects</h2>
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
		</ul>
	</section>

	<ContactSection />

</BaseLayout>