---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import WorkSection from '../components/sections/WorkSection.astro';
import EducationSection from '../components/sections/EducationSection.astro';
import Projects from '../components/sections/ProjectSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import WaveSeparatorTop from '../components/WaveSeparatorTop.astro';
import WaveSeparatorBottom from '../components/WaveSeparatorBottom.astro';
import WelcomeSection from '../components/sections/WelcomeSection.astro';
---

<BaseLayout>

	<WelcomeSection />

	<div class="about">
		<AboutSection />
	</div>
	
	<div class="work">
		<WaveSeparatorTop />
		<WorkSection />
		<WaveSeparatorBottom />
	</div>
	
	<div class="education">
		<EducationSection />
	</div>

	<div class="projects">
		<WaveSeparatorTop />
		<Projects />
		<WaveSeparatorBottom />
	</div>

	<div class="contact">
		<ContactSection />
	</div>
</BaseLayout>

<style>
	.work,
	.projects {
		background-color: var(--light-bg-element);
	}

	:global(.dark) .work,
	:global(.dark) .projects {
		background-color: var(--gray-900);
	}
</style>