---
import ImageZoomAnimation from "./animations/ImageAnimation.astro";

const certificateImg = [
    { link: "/001.jpeg", alt: "picture1", description: "Udemi docker&kubernetis certificate" },
    { link: "/002.jpg", alt: "picture2", description: "Udemi docker&kubernetis certificate" },
    { link: "/003.jpg", alt: "picture3", description: "Udemi docker&kubernetis certificates Udemi docker&kubernetis certificate" },
];
---

<div class="certificates">
    {
        certificateImg.map((element) => (
            <ImageZoomAnimation 
                link={element.link} 
                alt={element.alt} 
                description={element.description}
            />
        ))
    }
</div>
<style>
    .certificates {
        width: 100%; 

        /* Flex layout */
        /*display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;*/

        /* Grid layout for better responsive */
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
</style>
