---
import ImageZoomAnimation from "./animations/ImageAnimation.astro";
import {certificateData} from "./data/data.js";
---

<div class="certificates">
    {certificateData.map((certificate) => (
        <div class="certificate-container">
            <ImageZoomAnimation link={certificate.link} alt={certificate.alt}/>
            <div class="overlay">
                <span class="text">{certificate.description}</span>
            </div>
        </div>
    ))}
</div>

<style>
    .certificates {
        width: 100%; 
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }

    .certificate-container {
        position: relative;
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        border-radius: var(--border-radius);
        transition: 0.5s ease;
        backdrop-filter: blur(12px);
    }

    .certificate-container:hover .overlay {
        opacity: 1;
    }

    .text {
        color: var(--dark-color);
        text-align: center;
    }
</style>
