---
//TODO insecure if put just 
//  form href="mailto:contact@yourdomain.com" 
// need to change
---

<form action="" method="post" enctype="text/plain">
    <div class="name">
        <label for="name">Name</label>
        <input
            id="name"
            type="text"
            placeholder="Enter your name"
            required=""
            autocomplete="name"
        />
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input
            id="email"
            type="email"
            placeholder="Enter your email"
            required=""
            autocomplete="email"
        />
    </div>
    <div class="message">
        <label for="message">Message</label>
        <textarea 
            id="message" 
            placeholder="Enter your message" 
            required=""
            autocomplete="off"
        ></textarea>
    </div>
    <div class="send">
        <a href="mailto:pavel.paliakou0010@gmail.com">Send email directly</a>
        <button type="submit">Send</button>
    </div>
</form>

<style>
    form {
        width: 100%;
    }

    form div {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.625rem;
        border-width: 1px;
        border-radius: var(--border-radius);
        color: var(--dark-color);
        background-color: var(--gray-700);
        border-color: var(--gray-600);
    }

    textarea {
        display: block;
        height: 7rem;
        width: 100%;
        resize: vertical;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: var(--dark-color);
        padding: 0.625rem;
        border-width: 1px;
        border-radius: var(--border-radius);
        background-color: var(--gray-700);
        border-color: var(--gray-600);
    }

    textarea::placeholder,
    input::placeholder {
        font-size: 1rem;
    }

    .send {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .send a {
        text-decoration: none;
        color: var(--primary-600);
    }

    button {
        width: 10rem;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        font-size: 1rem;
        cursor: pointer;
        border: none;
        background-color: var(--primary-400);
        color: var(--dark-color);
    }

    :global(.dark) button {
        background-color: var(--primary-700);
    }

    button:hover {
        background-color: var(--primary-300);
    }

    :global(.dark) button:hover {
        background-color: var(--primary-600);
    }
</style>
