---
import Social from "./Social.astro";
---

<footer>
  <!-- <Social /> -->
  <p>Made by Pavel Paliakou</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
  }
</style>