---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <div class="logo">
            <a href="/">Site Logo</a>
        </div> 
        <div class="desktop-menu">
            <Navigation />
        </div>               
        <Hamburger />
        <ThemeIcon />
    </nav>
</header>

<!-- 
<style>
.logo a {
  color: black;
}

.dark .logo a {
  color: white;
}
</style> -->