---
import Hamburger from "./menu/Hamburger.astro";
import Navigation from "./menu/Navigation.astro";
import ThemeIcon from "./menu/ThemeIcon.astro";
---

<header>
  <nav>
    <div class="logo">
      <a href="/">Site Logo</a>
    </div>
    <Navigation />
    <Hamburger />
    <ThemeIcon />
  </nav>
</header>

<style>
  nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: rgb(226, 226, 226);
    /* backdrop-filter: blur(12px); */
  }

  html.dark nav {
    background-color: #3a385b;
  }

  .logo {
    flex-shrink: 0;
  }
  .logo a {
    color: var(--text-light-mode);
  }

  html.dark .logo a {
    color: var(--text-dark-mode);
  }
</style>
