---
import Hamburger from "./menu/Hamburger.astro";
import Navigation from "./menu/Navigation.astro";
import SiteLogo from "./menu/SiteLogo.astro";
import ThemeIcon from "./menu/ThemeIcon.astro";
//TODO: remake. Hide logo?
---

<header>
    <SiteLogo />
    <nav>
        <Navigation />
        <Hamburger />
    </nav>
    <ThemeIcon />
</header>

<style>
    header {
        position: sticky;
        top: 0px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;
        background-color: var(--light-bg-element);
        box-shadow: var(--shadow-menu);
    }

    :global(.dark) header {
        background-color: var(--dark-bg-element);
    }

    nav {
        display: flex;
        flex: 1 1 0;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: 700px) {
        header {
            justify-content: space-evenly;
            padding: 1rem 2.5rem;
        }
    }
</style>
