---
import Hamburger from './menu/Hamburger.astro';
import Navigation from './menu/Navigation.astro';
import ThemeIcon from './menu/ThemeIcon.astro';
---

<header>
    <a class='logo' href='/'>Site Logo</a>
    <nav>
        <Navigation />
        <Hamburger />
    </nav>
    <ThemeIcon />
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;
        background-color: var(--element-light-mode);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    :global(.dark) header {
        background-color: var(--element-dark-mode);
    }

    .logo {
        flex-shrink: 0;
        color: var(--light-color);
    }

    :global(.dark) .logo {
        color: var(--dark-color);
    }

    @media (min-width: 700px) {
        header {
            /* background-color: transparent;
            backdrop-filter: blur(12px); */
        }
    }
</style>
