---
import Hamburger from "./menu/Hamburger.astro";
import Navigation from "./menu/Navigation.astro";
import ThemeIcon from './menu/ThemeIcon.astro';
---
<header>
    <nav id="menu">
        <div class="logo">
            <a href="/">Site Logo</a>
        </div> 
        <div class="desktop-menu">
            <Navigation />
        </div>               
        <Hamburger />
        <ThemeIcon />
    </nav>
</header>


<style>
  .logo {
    flex-shrink: 0;
  }
  .logo a {
    color: black;
  }

  html.dark .logo a {
    color: white;
  }
</style>