---

---

<div class="jump-animation">
    <slot/>
</div>


<style>
    .jump-animation {
        animation-name: jump;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes jump {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(20%);
        }
        100% {
            transform: translateY(0%);
        }
        /* from{
            transform: translateY(0%);
        }
        to {
            transform: translateY(40px);
        } */
    }
</style>