---
const resumeLink = "../../../public/EnglishCertificate_ PavelPaliakou.pdf"
---

<a class="resume" href={resumeLink} download>Resume</a>

<style>
    .resume {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 2rem;
        margin-bottom: 2rem;
        border-radius: var(--border-radius);
        background-color: var(--primary-400);
        color: var(--dark-color);
        cursor: pointer;
    }

    :global(.dark) .resume {
        background-color: var(--primary-700);
    }

    .resume:hover {
        background-color: var(--primary-600);
    }

    :global(.dark) .resume:hover {
        background-color: var(--primary-600);
    }
</style>