---
import JumpAnimation from "./animations/JumpAnimation.astro";
import {skills} from "./data/data.js";
---

<div class="skills">
    {skills.map((skill) => (
        <JumpAnimation>
            <div class="skill-container">
                <img src={skill.link} />
                <p>{skill.name}</p>
            </div>
        </JumpAnimation>)
    )}
</div>

<style>
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .skill-container {
        display: flex;
        align-items: center;
        width: 12rem;
        height: 4.375rem;
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: rgb(249 250 251);
        cursor: pointer;
    }

    img {
        width: 3rem;
    }

    .skills p {
        font-size: 1rem;
        margin-left: 1rem;
    }

    html.dark .skill-container {
        color: black;
    }
</style>