---
import {socialLinks} from "./data/data.js";

const links = socialLinks;
---
<div class="social-links">
    {links.map((link) => (
        <a href={link.href} class="social-link">
            <Fragment set:html={link.image} />
        </a> )
    )}
</div>

<style>
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    html.dark .social-link {
        fill: white;
    }
</style>