---
---

<div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 30">
        <path d="M 0 10 C 145 60 320 0 500 10 L 500 0 L 0 0"></path>
    </svg>
</div>

<style>
    .wave-container {
        position: relative;
        width: 100%;
        margin-top: 0;
    }

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        fill: var(--light-bg);
        background-color: var(--light-bg-element);
    }

    :global(.dark) svg{
        fill: var(--dark-bg);
        background-color: var(--gray-900);
    }

    @media screen and (min-width: 700px) {
        .wave-container {
            margin-top: 5rem;
        }
    }
</style>