---
import VerticalLine from "./VerticalLine.astro";

---
<section id="work">
    <h1>Work Expirience</h1>
    <div class="container">
        <div class="duration">
            July 2023 - current
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Chef @ MacDonalds(Fulltime)</h3>
            <p class="city">City |
                <span><a href="https://mackdonalds.com" target="_blank">https://mackdonalds.com</a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
    <div class="container">
        <div class="duration">
            December 2020 - May 2023
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Manager @ BurgerKing(Fulltime)</h3>
            <p class="city">City |
                <span><a href="https://burgerking.com" target="_blank">https://burgerking.com</a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
    <div class="container">
        <div class="duration">
            September 2015 - October 2020
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Senior principal cleaner @ KFC(Fulltime)</h3>
            <p class="city">City |
                <span><a href="https://kfc.com" target="_blank">https://kfc.com</a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
</section>