---
import Header from "../components/Header.astro";
import NewHeader from "../components/altMenu/NewHeader.astro";
import Footer from "../components/Footer.astro";
import WaveBg from "../components/WaveBg.astro";
import "../styles/global.css";

const pageTitle = "Pavel Paliakou";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Pavel Paliakou" />
        <meta name="description" content="Pavel Paliakou full-stack developer protfolio website" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script defer src="/jquery-3.7.1.min.js"></script>
        <script defer src="/particles.min.js"></script>
        <title>{pageTitle}</title>
    </head>
    <body>

        <Header />
        <!-- <NewHeader /> -->

        <main>
            <slot/>
            <Footer />
            <WaveBg />
        </main>


        <script>
            import "../scripts/menu.js";
        </script>

    </body>
</html>
