---
import Header from "../components/Header.astro";
import MobileNavMenu from "../components/menu/MobileNavMenu.astro";
import "../styles/global.css";

const pageTitle = "Pavel Paliakou";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script
			  src="https://code.jquery.com/jquery-3.7.1.js"
			  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			  crossorigin="anonymous">
        </script>
        <title>{pageTitle}</title>
    </head>
    <body>

        <Header />
        <MobileNavMenu />

        <main>
            <slot/>
        </main>

        <script>
            import "../scripts/menu.js";
            import "../scripts/script.js";
        </script>

    </body>
</html>
